.descriptionBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding-top: 20px;
    background-color: rgba(188, 192, 191, 0.89);
}

.status {
    font-family: 'Ubuntu', serif;
}
